{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay-3"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1>Your Video Tutorial Series Access</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-11 col-md-10 col-lg-8" style="padding-top: 25px;">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="product-images">
                            <div class="row">
                                <div class="col-lg-8 col-md-6 col-sm-12 text-center">
                                    <h1>{{ series.friendly_name }}</h1>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <img class="" id="series-image" src="{{ series.image.url }}" style="width:100%; height:auto;" alt="{{ series.friendly_name }}" >
                                </div>
                            </div>
                            <div class="">{{ series.description|safe }}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="product-images">
                            <div class="row">
                                {% for product in products %}
                                    <a href="{% url 'product_viewer' product.pk %}">
                                    <div class="col-sm-5 col-md-6 col-lg-4 col-xl-3 mx-2 my-2" style="border: 1px solid black; border-radius: 5px; background: white;">
                                        <div class="card h-100 border-0">
                                            {% if product.image.url %}
                                                <img class="card-img-top img-fluid" id="series-product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                                            {% else %}
                                                <img class="card-img-top img-fluid" id="series-product-image" src="https://impactclarity.s3.eu-north-1.amazonaws.com/media/noimage+(1).png" alt="{{ product.name }}">
                                            {% endif %}
                                            <p><strong>{{ product.name }}</strong></p>
                                            {% if product.category %}
                                                <p class="small mt-1 mb-0">
                                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                    </a>
                                                </p>
                                            {% endif %}
                                            {% if product.duration %}
                                                <small class="text-muted"><i class="fas fa-clock mr-1"></i>{{ product.duration }}</small>
                                            {% else %}
                                                <small class="text-muted">No Duration</small>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            <div class="card-body pb-0 pt-1">
                                                {% if forloop.counter|divisibleby:1 %}
                                                    <div class="col-12 d-sm-none mb-5">
                                                        <hr>
                                                    </div>
                                                {% endif %}                        
                                                {% if forloop.counter|divisibleby:2 %}
                                                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                                        <hr>
                                                    </div>
                                                {% endif %}
                                                {% if forloop.counter|divisibleby:3 %}
                                                    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                                        <hr>
                                                    </div>
                                                {% endif %}
                                                {% if forloop.counter|divisibleby:4 %}
                                                    <div class="col-12 d-none d-xl-block mb-5">
                                                        <hr>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}