{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
  <div class="container mt-0">
    <div class="row">
        <div class="col text-center mt-0">
            <h2 class="logo-font">About</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <br>
    
    {{ about.content_1 | safe }}
    
    <div class="row">
        <div class="col-md-4">
            {{ about.content_2 | safe }}
        </div>
        <br>
        <div class="col-md-4 mt-1">
            <img class="mt-2" id="about-image" src="{{ about.about_image }}" style="width:100%; height:auto;" alt="{{ about.title }}" >
        </div>
        <div class="col-md-4 mt-1">
            {{ about.content_3 | safe }}
        </div>
    </div>
    <div class="footer">
      <div class="w-row">
        <div class="w-col w-col-6"></div>
        <div class="text-right w-col w-col-6">
          <div class="logowrap"><img src="https://impactclarity.s3.eu-north-1.amazonaws.com/media/logo-05.png" width="253" alt="Jo Dow Communication Coaching"></div>
          <div class="soc-wrap w-clearfix"><a href="https://www.linkedin.com/in/rory-dow/" target="_blank" class="soc-box linkedin w-inline-block"></a><a href="https://twitter.com/RoDoCode" target="_blank" class="soc-box w-inline-block"></a></div>
          <div class="footer-nav">copyright jo dow 2024</div>
          <div class="footer-nav"><a href="https://www.termsfeed.com/live/aa5b659d-1f0b-4037-9b0c-4d6aeaf5bbcb" class="link">privacy</a> | <a href="{% static 'sitemap.xml' %}" class="link">sitemap</a></div>
        </div>
      </div>
    </div>
  </div>
<div class="container mt-5">
    <div class="row">
        <div class="col text-right">
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
</div>
{% endblock content %}