{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay-3"></div>
    <div class="container mt-0">
        <div class="row">
            <div class="col text-center mt-0">
                <h2 class="logo-font">Resources</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <br>
        <h1>Professional Skills Articles</h1>
        <p>Explore top articles on key professional skills:</p>
        <br>
        {% for resource in resources %}
            <h2>{{ resource.title }}</h2>
            <ul>
                {% if resource.name_1 and resource.url_1 %}
                    <li><a href="{{ resource.url_1 }}" target="_blank" rel="Recommended extra reading on {{ resource.name_1 }}, suggested by Jo">{{ resource.name_1 }}</a></li>
                {% endif %}
                {% if resource.name_2 and resource.url_2 %}
                    <li><a href="{{ resource.url_2 }}" target="_blank" rel="Recommended extra reading on {{ resource.name_2 }}, suggested by Jo">{{ resource.name_2 }}</a></li>
                {% endif %}
            </ul>
        {% endfor %}
        
        {% if request.user.is_superuser %}
            <hr>
            <h3>Add New Resource</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add Resource</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
