{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container mt-0">
        <div class="row">
            <div class="col text-center mt-0">
                <h2 class="logo-font">Resources</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <br>
        <h1>Professional Skills Articles</h1>
        <p>Explore top articles on key professional skills:</p>

        <h2>Communication Skills</h2>
        <ul>
            <li><a href="URL_TO_ARTICLE_1" target="_blank">Effective Communication Techniques</a></li>
            <li><a href="URL_TO_ARTICLE_2" target="_blank">Mastering Communication in Team Settings</a></li>
        </ul>

        <h2>Business and Leadership Skills</h2>
        <ul>
            <li><a href="URL_TO_ARTICLE_3" target="_blank">Leadership Skills for the New Age</a></li>
            <li><a href="URL_TO_ARTICLE_4" target="_blank">Essential Business Skills for Success</a></li>
        </ul>

        <h2>Presentation Skills</h2>
        <ul>
            <li><a href="URL_TO_ARTICLE_5" target="_blank">Creating Compelling Presentations</a></li>
            <li><a href="URL_TO_ARTICLE_6" target="_blank">Advanced Presentation Techniques</a></li>
        </ul>

        <h2>Interview Preparation</h2>
        <ul>
            <li><a href="URL_TO_ARTICLE_7" target="_blank">How to Prepare for Job Interviews</a></li>
            <li><a href="URL_TO_ARTICLE_8" target="_blank">Top Questions to Expect in an Interview</a></li>
        </ul>

        <h2>Body Language Techniques</h2>
        <ul>
            <li><a href="URL_TO_ARTICLE_9" target="_blank">Reading and Using Body Language for Success</a></li>
            <li><a href="URL_TO_ARTICLE_10" target="_blank">Body Language Do's and Don'ts in Business</a></li>
        </ul>
    </div>
</div>
{% endblock content %}