{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay-3"></div>
    <div class="container mt-0">
        <div class="row">
            <div class="col text-center mt-0">
                <h2 class="logo-font">Resources</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <br>
        <h1>Professional Skills Articles</h1>
        <p>Explore top articles on key professional skills:</p>

        <h2>Communication Skills</h2>
        <ul>
            <li><a href="https://www.helpguide.org/articles/relationships-communication/effective-communication.htm" target="_blank">Effective Communication Techniques</a></li>
            <li><a href="https://www.flexos.work/learn/team-communication" target="_blank">Mastering Communication in Team Settings</a></li>
        </ul>

        <h2>Business and Leadership Skills</h2>
        <ul>
            <li><a href="https://knolskape.com/blog/7-qualities-every-new-age-leader-must-possess-to-inspire-employees-performance/" target="_blank">Leadership Skills for the New Age</a></li>
            <li><a href="Uhttps://online.hbs.edu/blog/post/business-skills-every-professional-needs" target="_blank">Essential Business Skills for Success</a></li>
        </ul>

        <h2>Presentation Skills</h2>
        <ul>
            <li><a href="https://www.think-cell.com/en/resources/content-hub/7-steps-to-building-a-compelling-powerpoint-presentation" target="_blank">Creating Compelling Presentations</a></li>
            <li><a href="https://www.linkedin.com/advice/1/how-do-you-master-advanced-presentation-techniques" target="_blank">Advanced Presentation Techniques</a></li>
        </ul>

        <h2>Interview Preparation</h2>
        <ul>
            <li><a href="https://joinhandshake.com/blog/students/how-to-prepare-for-an-interview/" target="_blank">How to Prepare for Job Interviews</a></li>
            <li><a href="https://www.themuse.com/advice/interview-questions-and-answers" target="_blank">Top Questions to Expect in an Interview</a></li>
        </ul>

        <h2>Body Language Techniques</h2>
        <ul>
            <li><a href="https://blogs.cfainstitute.org/investor/2018/02/05/lets-get-physical-body-language-and-success/" target="_blank">Reading and Using Body Language for Success</a></li>
            <li><a href="https://thecreativeparty.com/workplace-body-language-dos-donts/" target="_blank">Body Language Do's and Don'ts in Business</a></li>
        </ul>
    </div>
</div>
{% endblock content %}