{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2" style="padding-top: 25px;">
                <div class="product-images">
                    {% if product.image_url %}
                        <img id="main-image" src="{{ product.image_url }}" alt="{{ product.name }}">
                    {% else %}
                        <img id="main-image" src="https://impactclarity.s3.eu-north-1.amazonaws.com/media/noimage+(1).png" alt="{{ product.name }}">
                    {% endif %}
                    <video id="main-video" style="display:none; width: 100%; height: auto;" controls>
                        <source src="{{ product.series_no.video_url }}" type="video/mp4">
                    </video>
                    <div class="thumbnails">
                        <img class="thumbnail" src="{{ product.image_url }}" alt="Thumbnail 1" data-large="{{ product.image_url }}">
                        <video class="thumbnail" alt="Video Thumbnail" style="width:100px; height:100px; cursor:pointer; padding: 5px; border: 2px solid transparent; vertical-align: middle; object-fit:cover;" data-large="{{ product.series_no.video_url }}" data-type="video">
                            <source src="{{ product.series_no.video_url }}" type="video/mp4">
                        </video>
                        {% if product.series_no.screenshot %}
                            <img class="thumbnail" src="{{ product.series_no.screenshot }}" alt="{{ product.name }} thumbnail 2" data-large="{{ product.series_no.screenshot }}">
                        {% else %}
                            <img class="thumbnail" src="https://impactclarity.s3.eu-north-1.amazonaws.com/media/noimage+(1).png" alt="{{ product.name }} thumbnail 2" data-large="https://impactclarity.s3.eu-north-1.amazonaws.com/media/noimage+(1).png">
                        {% endif %}
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                document.querySelectorAll('.thumbnail').forEach(item => {
                    item.addEventListener('click', event => {
                        const mainImage = document.getElementById('main-image');
                        const mainVideo = document.getElementById('main-video');
                        const newSrc = item.getAttribute('data-large');
                        const contentType = item.getAttribute('data-type');

                        if (contentType === 'video') {
                            mainVideo.src = newSrc;
                            mainVideo.style.display = 'block';
                            mainImage.style.display = 'none';
                        } else {
                            mainImage.src = newSrc;
                            mainImage.style.display = 'block';
                            mainVideo.style.display = 'none';
                        }

                        mainImage.onerror = function() {
                            this.src = 'https://impactclarity.s3.eu-north-1.amazonaws.com/media/noimage+(1).png';
                        };
                    });
                });
            </script>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h1 class="mb-0">{{ product.name }}</h1>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.duration %}
                        <small class="text-muted"><i class="fas fa-clock mr-1"></i>{{ product.duration }}</small><br>
                    {% else %}
                        <small class="text-muted">No Duration</small><br>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <p class="mt-3"><strong>This video is part of the"{{product.series_no.friendly_name}}" Tutorial Series. Click here to view the full tutorial series page.</strong></p>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong> 1 video</p>
                                <input type="hidden" name="quantity" value="1">
                            </div>
                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}